## Functions
Build and utilize functions for repetitive tasks

In [3]:
def my_function():
    print("hello world !")
my_function()

hello world !

In [1]:
#fname is the argument
#always call back the function
def my_function(fname):
    print(fname," Essis")
my_function("desi")
my_function("anne")

desi  Essis
anne  Essis

In [2]:
#there is two argument (fname and iname)
def my_function(fname,lname):
    print(fname," ",lname)
my_function("desi","Essis")
my_function("anne","Mel")

desi   Essis
anne   Mel

In [10]:
#error because number of arguments should be always equal to number of parameter
def my_function(fname,lname):
    print(fname+" "+lname)
my_function("desi")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [14]:
#arbitrary arguments *args
def my_function(*kids):
    print("the youngest child is "+ kids[2]) # index 2 start to count by 0
my_function("emil","john","franck")

the youngest child is franck

In [14]:
#27/08/2025
def my_function(child3,child2,child1):
    print("the youngest is "+ child3)
my_function(child1= "Desi",child2= "Anne",child3="Marie")

the youngest is Marie

In [23]:
def my_function(**kid):
    print("His last name is", kid["Iname"])
    
my_function(fname="Tobias", Iname="Refsness")

His last name is Refsness

In [10]:
def my_function(country="Ivory Coast"):
   print("I am from",country)
my_function("Ivory Coast")

I am from Ivory Coast

In [1]:
def my_function(x):
 return 5*x
print (my_function(3))

15

In [17]:
x= lambda a : a+10
print(x(5))  #add 10 to argument a and return the result

15

In [18]:
x= lambda a,b : a*b
print(x(5,6))  #multiply argument a with argument b

30

In [29]:
#factorial
def factorial(n):
#Base case: factorial of 0 or 1 is 1
 if n<=1:
  return 1
#recursive step: n!=n*(N-1)!
 else:
  return n*factorial(n-1)
print(factorial(8))

40320

In [30]:
def function(n):
    return lambda a:a*n
mydoubler=function(2)
print(mydoubler(13))

26

In [2]:
#28/08/25

def myfunc(n):
    return lambda a:a*n

mydoubler=myfunc(2)
print(mydoubler(11))

22

In [4]:
#28/08/25

def myfunc(n):
    return  lambda a:a*n

mydoubler=myfunc(2)
print(mydoubler(11))

22

In [5]:
def myfunc(n):
    return lambda a:a*n

mytripler=myfunc(5)
print(mytripler(11))

55

#### def calculate_median(data):
    sorted_data = sorted(data)
    n = len(sorted_data)

    if n % 2 == 1:  # Odd number of elements
        median = sorted_data[n // 2]
    else:  # Even number of elements
        middle1 = sorted_data[n // 2 - 1]
        middle2 = sorted_data[n // 2]
        median = (middle1 + middle2) / 2
    return median

# Example usage:
list_odd = [1, 5, 2, 8, 3]
list_even = [4, 1, 7, 2, 6, 3]

print(f"Median of {list_odd}: {calculate_median(list_odd)}")
print(f"Median of {list_even}: {calculate_median(list_even)}")

In [1]:
list_odd = [1, 5, 2, 8, 3]
list_even = [4, 1, 7, 2, 6, 3]

def calculate_median(data):
    sorted_data = sorted(data)
    n = len(sorted_data)

    if n % 2 == 1:  # Odd number of elements
        median = sorted_data[n // 2]
    else:  # Even number of elements
        middle1 = sorted_data[n // 2 - 1]
        middle2 = sorted_data[n // 2]
        median = (middle1 + middle2) / 2
    return median

# Example usage:


print(f"Median of {list_odd}: {calculate_median(list_odd)}")
print(f"Median of {list_even}: {calculate_median(list_even)}")

Median of [1, 5, 2, 8, 3]: 3
Median of [4, 1, 7, 2, 6, 3]: 3.5

## Write a function called say_bye that prints: Bye!

In [7]:
def say_bye():
    print("Bye!")
say_bye()

Bye!

## Write a function called multiply that takes two numbers and prints their product. example: multiply(4, 5)

In [8]:
def multiply (a,b):
    return a*b
print(multiply(4,5))

20

## Write a function called is_even that takes one number and returns True if itâ€™s even, otherwise False.

In [13]:
def is_even(x):
    if x%2 == 0 :
       return ("True")
    else:
       return("false") 
print(is_even(2))
print(is_even(15))

True
false

In [1]:
def my_function(**kid):
    print(kid)          # just to see the dictionary
    print("The last name is " + kid["lname"])

my_function(fname="John", lname="Doe")

{'fname': 'John', 'lname': 'Doe'}
The last name is Doe

## LOCAL VARIABLE - GLOBAL VARIABLE

In [6]:
#local variable can be accessed from a function within the function
# a variable created inside a function is available inside that function
def myfunc():
    x=300
    print(x)
myfunc()

300

In [7]:
def myfunc():  #CHECK IT
    x=300
def myinnerfunc():
    print(x)
myinnerfunc()

NameError: name 'x' is not defined