In [2]:
# --- Experiment 1.1 : basic Python scripts using fundamental data types:

# ----- 1.  (int) -----
x = 10
y = -5
print(x, type(x))  # show value and  type of x
print(y, type(y))

# ----- 2. decimal number (float) -----
pi = 3.14159
temp = 98.6
print(pi, type(pi))
print(temp, type(temp))

# ----- 3. complex number (complex) -----
z = 2 + 3j
print(z, type(z))

# ----- 4. Booleans (bool) -----
is_active = True
has_permission = False
print(is_active, type(is_active))
print(has_permission, type(has_permission))

# ----- 5. string (str) -----
name = "Alice"
message = 'Hello, World!'
print(name, type(name))
print(message, type(message))

# ----- 6. Listes (list) -----
numbers = [1, 2, 3, 4, 5]
fruits = ["apple", "banana", "cherry"]
print(numbers, type(numbers))
print(fruits, type(fruits))

# ----- 7. Tuples (tuple) -----
point = (10, 20)
colors = ("red", "green", "blue")
print(point, type(point))
print(colors, type(colors))

# ----- 8. Ensembles (set) -----
unique_numbers = {1, 2, 3, 4, 5}
letters = set("abcde")
print(unique_numbers, type(unique_numbers))
print(letters, type(letters))

# ----- 9. Dictionnaires (dict) -----
person = {"name": "Bob", "age": 30, "city": "New York"}
print(person, type(person))

# ----- 10. Autres exemples -----
no_value = None  # Valeur vide
print(no_value, type(no_value))

# ----- 11. Opérations simples -----
age = 30
price = 99.99
greeting = "Hello, " + name
is_older = age > 25

print("Somme âge + 5:", age + 5)
print("Prix après réduction 10%:", price * 0.9)
print(greeting)
print("Est plus âgé que 25 ?", is_older)

# ----- 12. Conversion de types -----
print(int(42.0))       # Conversion float -> int
print(int("43"))

10 <class 'int'>
-5 <class 'int'>
3.14159 <class 'float'>
98.6 <class 'float'>
(2+3j) <class 'complex'>
True <class 'bool'>
False <class 'bool'>
Alice <class 'str'>
Hello, World! <class 'str'>
[1, 2, 3, 4, 5] <class 'list'>
['apple', 'banana', 'cherry'] <class 'list'>
(10, 20) <class 'tuple'>
('red', 'green', 'blue') <class 'tuple'>
{1, 2, 3, 4, 5} <class 'set'>
{'c', 'e', 'a', 'd', 'b'} <class 'set'>
{'name': 'Bob', 'age': 30, 'city': 'New York'} <class 'dict'>
None <class 'NoneType'>
Somme âge + 5: 35
Prix après réduction 10%: 89.991
Hello, Alice
Est plus âgé que 25 ? True
42
43

In [3]:
a = "hello world !"
print(a[0])

h

In [4]:
a = "hello world !"
print(a[-1])

!

In [6]:
a = "hello world !"
print(a[-2])

In [7]:
a = "hello world !"
print(len(a))

13

In [8]:
text = "The best things in life are free!"

print ("free" in text)

True

In [9]:
text = "The best things in life are free!"

print ("life" in text)

True

In [10]:
text = "The best things in life are free!"

print ("ok" in text)

False

In [18]:
text = "The best things in life are free!"

if "math" in text:
    print("math is in text")
else:
    print("Oops")

Oops

In [17]:
b = "Hello, world"
print (b[2:5])

llo

In [19]:
b = "Hello, world"
print (b[:5])

Hello

In [20]:
b = "Hello, world"
print (b[2:])

llo, world

In [24]:
b = "Hello, world!"
print (b[-5:-2])

orl

In [25]:
a = "Hello, world!"
print(a.upper()) # pu it in upper case

HELLO, WORLD!

In [26]:
a = "Hello, world!"
print(a.lower()) # put in lower case

hello, world!

In [28]:
a = " Hello, world! "
print(a.strip())   # removes whitespace form the begining or the end

Hello, world!

In [32]:
a = "Hello, world!"
print(a.replace("H","j")) # replace letter

jello, world!

In [29]:
a = "hello"
b = "Raj"
c= a+b
print(c) # removes the gap

helloRaj

In [30]:
a = "hello"
b = "Raj"
c= a+ " " +b
print(c) # put gap

hello Raj

In [35]:
a = "Hello, world!"
print(a.split(",")) # put quote

['Hello', ' world!']

In [40]:
age = 36
text = "My name is john, i am {}"
print (text.format(age))

My name is john, i am 36

In [42]:
quantity = 3
itemno = 567
price = 49.95

myorder = "I want {} pieces  of item {} for {} dollars"
print (myorder.format(quantity, itemno, price))

I want 3 of item 567 for 49.95 dollars

In [43]:
quantity = 3
itemno = 567
price = 49.95

myorder = "I want {2} pieces  of item {0} for {1} dollars"
print (myorder.format(quantity, itemno, price)) # use index to change the rank

I want 49.95 pieces  of item 3 for 567 dollars